:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desturted-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --font-size: 18px;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      font-family: 'Kumbh Sans', sans-serif;
      background-color: var(--dark-cyan);
      font-size: var(--font-size);
  }
  
  section {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  }
  
  .card {
      width: 100%;
      max-width: 325px;
      border-radius: 20px;
      background: white;
      overflow: hidden;
      text-align: center;
      position: relative;
  }
  
  .card-header {
      background-image: url(images/bg-pattern-card.svg);
      position: relative;
      height: 150px;
  }
  
  .card-header img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .card-body {
      padding: 75px;
  }
  
  .card-title {
      margin-bottom: 1rem;
      color: var(--very-dark-desturted-blue);
  }
  
  .card-title span {
      font-weight: 400;
  }
  
  .card-footer {
      display: flex;
      justify-content: space-around;
      color: var(--very-dark-desturted-blue);
  }
  
  .value {
      font-weight: 700;
  }
  
  .label {
      font-size: 0.75rem;
  }